$background-color: #3c3c3b;
$dark: #343a40;
$white: #f8f8e6;
$secondaryWhite: #cacabf;
$yellow: #ffe066;
$red: #f24643;
$blue: #1688b9;
$text-font: 'Roboto', sans-serif;
$title-font: 'Rubick', sans-serif;
$shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

@mixin defineTransition($transitionTime) {
  transition: all $transitionTime;
  -webkit-transition: all $transitionTime;
  -moz-transition: all $transitionTime;
}

@mixin setMediaBreakpoint($widthValue) {
  @media (min-width: $widthValue) {
    @content;
  }
}

body {
  background-color: $background-color !important;
  font-size: 16px !important;
  font-family: $text-font;
  color: $white !important;
  margin: 0;
  overflow-x: hidden;

  @include setMediaBreakpoint(1024px) {
    font-size: 18px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500 !important;
}

h1 {
  color: $yellow;
  font-size: 2.8rem;
}

h2 {
  color: $red;
}

h3 {
  color: $blue;
  padding-bottom: 1.25rem;
}

h4,
h5 {
  color: $red;
  padding-bottom: 1rem;
}

.Toastify__toast {
  border-radius: 14px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 1.25rem;
}

//------------------//

// Links
a.basicLink {
  color: $blue;
  border-bottom: $red solid 1.5px !important;
  @include defineTransition(0.5s);

  &:hover,
  &:active {
    text-decoration: none;
    border-bottom: $blue solid 1.5px !important;
    color: $red;
  }
}

a.containerLink {
  color: $red;
  display: block;
  text-decoration: none;
  @include defineTransition(0.5s);

  &:hover,
  &:active {
    text-decoration: none;
    background-color: $blue;
    border-radius: 0.25rem;
    & > p,
    & > div > p,
    & > div > div > p,
    & > h5 {
      color: $yellow;
    }
  }
}
//------------------//

.btn {
  display: block;
  border: none;
  background: none;
  color: inherit;
  position: relative;
  z-index: 1;
  border-radius: 5px;

  &::before {
    content: '';
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -1;
    opacity: 0;
    -webkit-transform: scale3d(0.7, 1, 1);
    transform: scale3d(0.7, 1, 1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    transition-timing-function: ease, ease;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }

  &:hover::before,
  &:active::before {
    opacity: 0.2;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.nav-link {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.65rem;
  padding: 0.5rem 0.75rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  letter-spacing: 0.06em;
  background: none;
  color: inherit;
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $blue;
    z-index: -1;
    opacity: 0;
    -webkit-transform: scale3d(0.7, 1, 1);
    transform: scale3d(0.7, 1, 1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    transition-timing-function: ease, ease;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }

  &:hover,
  &:active {
    color: $yellow;
  }

  &:hover::before,
  &:active::before {
    opacity: 0.5;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  &.nav-link-active {
    border-bottom: 1px solid $yellow;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: 600;

    &:hover::before,
    &:active::before {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

//------------------//

// Forms
.form-group {
  input {
    background-color: $blue;
    border: 1px solid $yellow;
    color: $white;
    @include defineTransition(0.5s);
    box-shadow: $shadow;

    &:focus {
      background-color: $red;
      color: $yellow;
      border: 1px solid $yellow;

      &::placeholder {
        color: $yellow;
      }
    }

    &::placeholder {
      color: $white !important;
    }
  }
}

//------------------//

div.typeIcon {
  display: inline-block;
  width: 80px;
  font-size: 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 1.5rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  transition: opacity 0.4s;
  margin-bottom: 1rem;

  &:hover {
    opacity: 0.85;
  }

  &.type-electric {
    background-color: #fc3;
  }
  &.type-fairy {
    background-color: #e9e;
  }
  &.type-water {
    background-color: #39f;
  }
  &.type-grass {
    background-color: #7c5;
  }
  &.type-dragon {
    background-color: #76e;
  }
  &.type-rock {
    background-color: #ba6;
  }
  &.type-ground {
    background-color: #db5;
  }
  &.type-flying {
    background-color: #89f;
  }
  &.type-poison {
    background-color: #a59;
  }
  &.type-dark {
    background-color: #754;
  }
  &.type-steel {
    background-color: #aab;
  }
  &.type-fire {
    background-color: #f42;
  }
  &.type-normal {
    background-color: #aa9;
  }
  &.type-fighting {
    background-color: #b54;
  }
  &.type-ghost {
    background-color: #66b;
  }
  &.type-ice {
    background-color: #6cf;
  }
  &.type-psychic {
    background-color: #f59;
  }
  &.type-bug {
    background-color: #ab2;
  }
}

.reactionBtnActive {
  background-color: $red !important;
  & > span > span {
    font-weight: bold !important;
    color: $yellow !important;
  }
}

.reactionBtnDisabled {
  background-color: transparent;
}

.user-avatar {
  letter-spacing: 0.1em;
  font-family: 'Rubick', sans-serif;
  font-weight: 400;
  border-radius: 10px;
  padding: 1rem 0;
  overflow-x: hidden;

  p {
    transition: 0.5s all ease-in-out;
  }

  &:hover,
  &:active {
    p {
      color: #ffe066;
    }

    span {
      background-color: #f24643;

      transition: ease-in-out 0.3s all;
      -webkit-transform-origin: bottom center;
      transform-origin: bottom center;
      -webkit-animation-name: swing-p;
      animation-name: swing-p;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-duration: 3.5s;
      animation-duration: 3.5s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
  }

  @keyframes swing-p {
    15% {
      -webkit-transform: rotate3d(0, 0, 0, -25deg);
      transform: rotate3d(1, 0, 0, -25deg);
    }

    20% {
      -webkit-transform: rotate3d(0, 0, 0, 0deg);
      transform: rotate3d(1, 0, 0, 0deg);
    }

    30% {
      -webkit-transform: rotate3d(0, 0, 1, 15deg);
      transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
      -webkit-transform: rotate3d(0, 0, 1, -10deg);
      transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
      -webkit-transform: rotate3d(0, 0, 1, 2deg);
      transform: rotate3d(0, 0, 1, 2deg);
    }

    80% {
      -webkit-transform: rotate3d(0, 0, 1, -3deg);
      transform: rotate3d(0, 0, 1, -3deg);
    }

    to {
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
    }
  }
}

.pokemon-image {
  letter-spacing: 0.1em;
  font-family: 'Rubick', sans-serif;
  font-weight: 400;
  border-radius: 10px;
  padding: 1rem 0;
  overflow-x: hidden;

  svg,
  p {
    transition: 0.5s all ease-in-out;
  }

  &:hover,
  &:active {
    color: #ffe066;

    svg {
      opacity: 1;
      color: #f24643 !important;
    }

    &.ev-image {
      color: #f24643;

      svg {
        opacity: 1;
        color: #fdda50 !important;
      }
    }

    @keyframes swing-p {
      15% {
        -webkit-transform: rotate3d(0, 0, 0, -25deg);
        transform: rotate3d(1, 0, 0, -25deg);
      }

      20% {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(1, 0, 0, 0deg);
      }

      30% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
      }

      40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
      }

      60% {
        -webkit-transform: rotate3d(0, 0, 1, 2deg);
        transform: rotate3d(0, 0, 1, 2deg);
      }

      80% {
        -webkit-transform: rotate3d(0, 0, 1, -3deg);
        transform: rotate3d(0, 0, 1, -3deg);
      }

      to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
      }
    }

    img {
      transition: ease-in-out 0.3s all;
      -webkit-transform-origin: bottom center;
      transform-origin: bottom center;
      -webkit-animation-name: swing-p;
      animation-name: swing-p;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-duration: 3.5s;
      animation-duration: 3.5s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
  }

  .pokeball {
    border-radius: 46%;
    background-color: #e0e0e0;
    width: 125px;
    height: 145px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pokeball .pokeball-btn {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e0e0e0;
    position: absolute;
  }

  .pokeball-inside {
    border-radius: 42%;
    background-image: linear-gradient(#3c3c3b 80px, #3c3c3b 70px);
    width: 80px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .pokeball-inside::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    border-bottom: 14px solid #e0e0e0;
  }
}
