$background-color: #3c3c3b;
$dark: #343a40;
$white: #f8f8e6;
$secondaryWhite: #cacabf;
$yellow: #ffe066;
$red: #f24643;
$blue: #1688b9;
$text-font: 'Roboto', sans-serif;
$title-font: 'Rubick', sans-serif;
$radius: 0.25rem;
$shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

@mixin defineTransition($transitionTime) {
  transition: all $transitionTime;
  -webkit-transition: all $transitionTime;
  -moz-transition: all $transitionTime;
}

@mixin defineColorFontWeightHeader($color, $font, $weight) {
  color: $color;
  font-family: $font;
  font-weight: $weight;
}

@mixin setMediaBreakpoint($widthValue) {
  @media (min-width: $widthValue) {
    @content;
  }
}

body {
  background-color: $background-color !important;
  font-size: 16px !important;
  font-family: $text-font;
  color: $white !important;
  margin: 0;
  overflow-x: hidden;

  @include setMediaBreakpoint(1024px) {
    font-size: 18px;
  }
}

h1 {
  color: $yellow;
}

h3 {
  @include defineColorFontWeightHeader($blue, $title-font, bold);
  padding-bottom: 1.25rem;
  font-weight: 500 !important;
}

h4 {
  @include defineColorFontWeightHeader($red, $title-font, normal);
  padding-bottom: 1rem;
  font-weight: 500 !important;
}

h5 {
  @include defineColorFontWeightHeader($red, $title-font, normal);
  font-weight: 500 !important;
}

h6 {
  @include defineColorFontWeightHeader($yellow, $title-font, normal);
  font-weight: 500 !important;
}

hr {
  color: $yellow;
  background-color: $yellow;
  opacity: 0.5;
}

button {
  border: none;
  outline: none;
}

//------------------//

// Links
a.basicLink {
  color: $blue;
  border-bottom: $red solid 2px !important;
  @include defineTransition(0.5s);

  &:hover,
  &:active {
    text-decoration: none;
    border-bottom: $blue solid 2px !important;
    color: $red;
  }
}

a.containerLink {
  color: $red;
  display: block;
  text-decoration: none;
  @include defineTransition(0.5s);

  &:hover,
  &:active {
    text-decoration: none;
    background-color: $blue;
    border-radius: $radius;
    & > p,
    & > div > p,
    & > div > div > p,
    & > h5 {
      color: $yellow;
    }
  }
}
//------------------//

// Buttons/Icon Buttons
.btn-warning {
  font-family: $text-font !important;
  background-color: $yellow !important;
  padding: 8px 15px 8px 15px !important;
  color: $dark !important;
  box-shadow: $shadow;

  &:hover,
  &:active {
    background-color: #f5cf35 !important;
  }

  &.btn-video {
    color: $red !important;
  }
}

.btn-danger {
  background-color: $red !important;
  padding: 8px 15px 8px 15px !important;
  color: $dark !important;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  &:hover,
  &:active {
    background-color: #f0312e !important;
  }

  &.btn-video {
    color: $yellow !important;
    font-weight: bold !important;
  }
}

.moveButton {
  cursor: pointer;
  margin: 0;
  padding: 5px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &:hover,
  &:active {
    background-color: $blue;
    color: $yellow;
    border-radius: $radius;
  }

  & > div > p {
    margin: 0;
    padding: 5px;
  }
}

.btn {
  display: block;
  border: none;
  background: none;
  color: inherit;
  position: relative;
  z-index: 1;
  border-radius: 5px;
}

.btn::before {
  content: '';
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale3d(0.7, 1, 1);
  transform: scale3d(0.7, 1, 1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
  transition-timing-function: ease, ease;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.btn:hover::before {
  opacity: 0.2;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

//------------------//

// Forms
.form-group {
  input {
    background-color: $blue;
    border: 1px solid $yellow;
    color: $white;
    @include defineTransition(0.5s);
    box-shadow: $shadow;

    &:focus {
      background-color: $red;
      color: $yellow;
      border: 1px solid $yellow;

      &::placeholder {
        color: $yellow;
      }
    }

    &::placeholder {
      color: $white !important;
    }
  }
}

.avatar {
  border: solid 1px $yellow;
  padding: 10px;
  border-radius: $radius;

  &.active-avatar {
    background-color: $blue;
  }
}
//------------------//

div.modal-content {
  background-color: $dark;
  border: 1px solid $yellow;
}

div.typeIcon {
  cursor: pointer;
  display: inline-block;
  width: 80px;
  font-size: 0.75rem;
  border-radius: $radius;
  border: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 1.5rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  transition: opacity 0.4s;
  margin-bottom: 1rem;

  &:hover {
    opacity: 0.85;
  }

  &.type-electric {
    background-color: #fc3;
  }
  &.type-fairy {
    background-color: #e9e;
  }
  &.type-water {
    background-color: #39f;
  }
  &.type-grass {
    background-color: #7c5;
  }
  &.type-dragon {
    background-color: #76e;
  }
  &.type-rock {
    background-color: #ba6;
  }
  &.type-ground {
    background-color: #db5;
  }
  &.type-flying {
    background-color: #89f;
  }
  &.type-poison {
    background-color: #a59;
  }
  &.type-dark {
    background-color: #754;
  }
  &.type-steel {
    background-color: #aab;
  }
  &.type-fire {
    background-color: #f42;
  }
  &.type-normal {
    background-color: #aa9;
  }
  &.type-fighting {
    background-color: #b54;
  }
  &.type-ghost {
    background-color: #66b;
  }
  &.type-ice {
    background-color: #6cf;
  }
  &.type-psychic {
    background-color: #f59;
  }
  &.type-bug {
    background-color: #ab2;
  }
}

.reactionBtnActive {
  background-color: $red !important;
  & > span > span {
    font-weight: bold !important;
    color: $yellow !important;
  }
}

.reactionBtnDisabled {
  background-color: transparent;
}

//Navigation
nav {
  background-color: transparent;

  .navbar-toggler {
    color: none;
    border: none;
  }

  .navBrandLink {
    @include defineTransition(0.6s);

    .navBrandSecondTitle,
    .navBrandTitle {
      font-size: 2em;
      @include setMediaBreakpoint(1024px) {
        font-size: 2.5em;
      }
    }

    &:hover,
    &:active {
      .navBrandTitle {
        color: $red;
      }

      .navBrandSecondTitle {
        color: $blue;
      }
    }
  }

  .nav-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  ul li {
    a {
      color: $red;
      padding: 8px;
      font-weight: bold;
      text-decoration: none;
      position: relative;
      margin: 0 0.325rem 0 0.325rem;
      @include defineTransition(0.5s);

      &.navbar__link-active {
        color: $yellow;
        background-color: $red;
        font-weight: bold;
        border-radius: $radius;
        box-shadow: $shadow;
      }

      @include setMediaBreakpoint(1024px) {
        margin: 0 0.425rem 0 0.425rem;
        padding: 10px;
      }

      &:focus,
      &::-moz-focus-inner {
        border: 0;
        outline: none;
      }

      &:after,
      &:before {
        @include defineTransition(0.5s);
      }

      &:hover,
      &:active {
        text-decoration: none;
        color: $blue;
      }

      &:after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 1px;
        content: '.';
        color: transparent;
        background-color: $yellow;
        border-radius: $radius;
        visibility: none;
        opacity: 0;
        z-index: -1;
        box-shadow: $shadow;
      }

      &:hover:after,
      &:active:after {
        opacity: 1;
        visibility: visible;
        height: 100%;
      }
    }
  }
}

.pokemon-image {
  letter-spacing: 0.1em;
  font-family: "'Rubick', sans-serif";
  font-weight: 400;
  border-radius: 10px;
  padding: 1rem 0;
  overflow-x: hidden;

  svg,
  p {
    transition: 0.5s all ease-in-out;
  }

  &:hover {
    color: #ffe066;

    svg {
      opacity: 1;
      color: #f24643 !important;
    }

    @keyframes swing-p {
      15% {
        -webkit-transform: rotate3d(0, 0, 0, -25deg);
        transform: rotate3d(1, 0, 0, -25deg);
      }

      20% {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(1, 0, 0, 0deg);
      }

      30% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
      }

      40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
      }

      60% {
        -webkit-transform: rotate3d(0, 0, 1, 2deg);
        transform: rotate3d(0, 0, 1, 2deg);
      }

      80% {
        -webkit-transform: rotate3d(0, 0, 1, -3deg);
        transform: rotate3d(0, 0, 1, -3deg);
      }

      to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
      }
    }

    img {
      transition: ease-in-out 0.3s all;
      -webkit-transform-origin: bottom center;
      transform-origin: bottom center;
      -webkit-animation-name: swing-p;
      animation-name: swing-p;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-duration: 3.5s;
      animation-duration: 3.5s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
  }

  /*   img::before {
    content: '';
    position: absolute;
    background-image: url('https://cdn.pixabay.com/photo/2016/07/23/13/18/pokemon-1536847_960_720.png');
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
  } */

  .pokeball {
    border-radius: 46%;
    background-color: #e0e0e0;
    width: 125px;
    height: 145px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pokeball .pokeball-btn {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e0e0e0;
    position: absolute;
  }

  .pokeball-inside {
    border-radius: 42%;
    background-image: linear-gradient(#3c3c3b 80px, #3c3c3b 70px);
    width: 80px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .pokeball-inside::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    border-bottom: 14px solid #e0e0e0;
  }
}

//------------------//

// Pokeball Animation

.pokeball {
  border-radius: 46%;
  background-color: #f24643;
  width: 255px;
  height: 285px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokeball .pokeball-btn {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1688b9;
  position: absolute;
}

.pokeball-inside {
  border-radius: 46%;
  background-image: linear-gradient(#ffe066 80px, #ebebd3 70px);
  width: 140px;
  height: 165px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pokeball-inside::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  border-bottom: 14px solid #f24643;
}

.animated {
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
    .pokeball {
      -webkit-transform: rotate3d(0, 0, 1, 5deg);
      transform: rotate3d(0, 0, 1, 5deg);
      background-color: red !important;
    }
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
    .pokeball .pokeball-btn::after {
      background-color: #a2a2a2 !important;
    }
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing {
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
  -webkit-animation-name: swing;
  animation-name: swing;
}
